{% extends "base.html" %}
{% block body %}
<div class="container my-3">
    <h1>About This TODO App</h1>
    <p>Welcome to our TODO application! This app is designed to help you manage your tasks efficiently and stay organized.</p>
    
    <h3>Features:</h3>
    <ul>
        <li>Add new tasks with a title and description.</li>
        <li>View a list of all your tasks.</li>
        <li>Edit existing tasks.</li>
        <li>Delete tasks that are no longer needed.</li>
        <li>Search for tasks based on title or description.</li>
    </ul>
    
    <h3>How to Use:</h3>
    <ol>
        <li><strong>Add a Task:</strong> Fill in the title and description in the form on the homepage and click "Submit".</li>
        <li><strong>Edit a Task:</strong> Click the "Edit" button next to the task you want to modify.</li>
        <li><strong>Delete a Task:</strong> Click the "Delete" button next to the task you want to remove.</li>
        <li><strong>Search Tasks:</strong> Use the search bar in the navigation to find tasks by title or description.</li>
    </ol>
    
    <h3>Technology Stack:</h3>
    <p>This application is built using:</p>
    <ul>
        <li>Flask - a lightweight web framework for Python</li>
        <li>SQLAlchemy - an SQL toolkit and ORM</li>
        <li>SQLite - a lightweight database</li>
        <li>Bootstrap - a CSS framework for styling</li>
    </ul>
    
    <h3>Developer Information:</h3>
    <p>This app was developed by Abhimanew. You can find more about my work on:</p>
    <ul>
        <li><a href="https://github.com/abhimanew2000">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/abhimanew-kg-25ab38253/">LinkedIn</a></li>
    </ul>
    
    <h3>Future Enhancements:</h3>
    <p>We are continuously working on adding new features. Some upcoming enhancements include:</p>
    <ul>
        <li>Task prioritization</li>
        <li>Due dates and reminders</li>
        <li>Mobile app integration</li>
    </ul>
    
    <h3>Acknowledgments:</h3>
    <p>We would like to thank the following resources for their invaluable support:</p>
    <ul>
        <li>Flask Documentation</li>
        <li>SQLAlchemy Documentation</li>
        <li>Bootstrap Documentation</li>
    </ul>
    
    <h3>Contact Information:</h3>
    <p>If you have any questions or feedback, feel free to reach out to us at <a href="abhimanew2000@gmail.com">abhimanew2000@gmail.com</a>.</p>
</div>
{% endblock %}
